nav {
  padding: var(--sp-xl) var(--sp-l) var(--sp-l);
  text-align: right;
}

.lang-toggle {
  background: none;
  border-radius: 999em;
  padding: var(--sp-xs) var(--sp-m);
  cursor: pointer;
  font-size: 0.85rem;
  box-shadow: none;
  transition: all 0.2s ease;
}

.theme-dark {
  color: var(--clr-700);
  border: 1px solid var(--clr-700);
}
.theme-dark span.active {
  font-weight: 900;
  color: var(--clr-900);
}

.theme-light {
  color: var(--clr-150);
  border: 1px solid var(--clr-150);
}
.theme-light span.active {
  font-weight: 900;
  color: var(--clr-100);
}
